<mat-toolbar>
    <button   mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Account</span>
  </mat-toolbar>

  <mat-toolbar color="warn">
    <span>Setting</span>
  </mat-toolbar>


  <div class="main">
      <mat-card appearance="outlined">
        <mat-card-content>
            <mat-form-field>
                <mat-label>Restaurant Name</mat-label>
                <input matInput>
              </mat-form-field>
            <mat-form-field>
                <mat-label>Google Maps Link</mat-label>
                <input matInput>
              </mat-form-field>
            <mat-form-field>
                <mat-label>Review Incentive</mat-label>
                <input matInput>
              </mat-form-field>
              <p><mat-slide-toggle labelPosition="before">Google Review</mat-slide-toggle></p>

        </mat-card-content>
      </mat-card>
  </div>
  