
<h2 mat-dialog-title>Add New Dish</h2>
<mat-dialog-content>
    <div class="photo-container">
        <img 
          [src]="photoPreview || 'profile photo.jpg'" 
          alt="Staff Photo" 
          class="photo-preview"
        />
        <button mat-flat-button color="warn" (click)="fileInput.click()">Change Photo</button>
        <input 
          type="file" 
          #fileInput 
          (change)="onFileSelected($event)" 
          accept="image/*" 
          hidden 
        />
      </div>
  <mat-form-field>
    <mat-label>Dish Name</mat-label>
    <input type="text" matInput  [(ngModel)]="newItem.name"  />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select Category</mat-label>
    <mat-select [(ngModel)]="newItem.category">
      <mat-option value="Appetizers">Appetizers</mat-option>
      <mat-option value="Entrees">Entrees</mat-option>
      <mat-option value="Sides">Sides</mat-option>
      <mat-option value="Desserts">Desserts</mat-option>
      <mat-option value="Beverages">Beverages</mat-option>
      <mat-option value="Other">Other</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="this.dialogRef.close();">Cancel</button>
  <button color="warn"  mat-button  cdkFocusInitial (click)="submit()">Save</button>
</mat-dialog-actions>

