mat-dialog-content{
    display: flex;
    flex-direction: column;
}
.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 20px;
  }
  
  .photo-preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
    object-fit: cover;
    margin-bottom: 8px;
  }
  
  button {
    margin-top: 8px;
  }
  