<mat-toolbar color="warn">
    <button  routerLink="/" class="pointer_cursor" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="pointer_cursor" >Back</span>
   
  </mat-toolbar>
  

  <div class="main">
    <img width="150" src="/logo.png" alt="logo"> 
    <h1 class="title">Don't remember your password?</h1>
    <div class="form-div">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            required
            [(ngModel)]="email"
          />
         
        </mat-form-field>
       
    </div>
    <button (click)="sendResetLink()" class="login-btn" mat-flat-button color="warn">Send Reset Link </button>
   
    </div>