<mat-drawer-container class="example-container">
    <mat-drawer class="sidenav" mode="side" opened>
     <div>
          <img src="/logo.png" alt="" width="200">
      <div class="menu">
          <ul>
              <li   [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" class="pointer_cursor" routerLink="/home"  ><mat-icon>dashboard</mat-icon>Dashboard</li>
              <li   routerLinkActive="active" class="pointer_cursor" routerLink="qr-codes"><mat-icon >qr_code</mat-icon>QR Codes</li>
              <li   routerLinkActive="active" class="pointer_cursor" routerLink="staff"><mat-icon>groups</mat-icon>Staff</li>
              <li   routerLinkActive="active" class="pointer_cursor" routerLink="tables"><mat-icon>table_restaurant</mat-icon>Tables</li>
              <li   routerLinkActive="active" class="pointer_cursor" routerLink="menu"><mat-icon>menu_book</mat-icon>Menu</li>
              <li   routerLinkActive="active" class="pointer_cursor" routerLink="customers"><mat-icon>groups</mat-icon>Customers</li>
              <li   routerLinkActive="active" class="pointer_cursor" routerLink="account"><mat-icon>account_circle</mat-icon>My Account</li>
              <li   routerLinkActive="active" class="pointer_cursor" routerLink="notifications"><mat-icon>notifications</mat-icon>Notifications</li>
              <li   routerLinkActive="active" class="logout pointer_cursor"><mat-icon>logout</mat-icon>Logout</li>
              
          </ul>
      </div>
     </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet/> 
    </mat-drawer-content>
  </mat-drawer-container>